html, body {
  padding: 0;
  margin: 0;
  background-color: #aace84;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #FFF;
  font-size: 0.9em;
}
html {
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
}
.active_bottom_btn {
  font-weight: bold;
  color: #000;
  background-color: #af5c03;
}
#zCounter {
  line-height: 64px;
  text-align: center;
  color: #0099b1;
  visibility: hidden;
}
#container {
  background-color: #000;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#controlPanel {
  background-color: #000;
  box-sizing: border-box;
  height: 208px;
  width: 100%;
  position: absolute;
  bottom: 45px;
  padding: 8px;
  z-index: 1;
}
#controlsBox {
  height: calc(208px - 16px);
  width: calc(208px - 16px);
  margin-left: auto;
  float: left;
}
#leftWindow {
  height: calc(208px - 16px);
  width: calc(100% - 208px + 16px - 8px);
  float: left;
  margin-right: 8px;
}
#scene {
  box-sizing: border-box;
  background-color: #AAA;
  color: #000;
  height: calc(100% - 208px - 45px - 8px);
  width: calc(100% - 16px);
  overflow-y: auto;
  padding: 8px;
  position: absolute;
  left: 8px;
  top: 8px;
  scroll-behavior: smooth;
}
.arrow {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  float: left;
}
#north {
  border-bottom-color: #222;
  border-width: calc((208px - 16px) / 3);
  border-top-style: none;
  border-left-width: calc((208px - 16px) / 6);
  border-right-width: calc((208px - 16px) / 6);
}
#west {
  border-right-color: #222;
  border-width: calc((208px - 16px) / 3);
  border-left-style: none;
  border-top-width: calc((208px - 16px) / 6);
  border-bottom-width: calc((208px - 16px) / 6);
}
#east {
  border-left-color: #222;
  border-width: calc((208px - 16px) / 3);
  border-right-style: none;
  border-top-width: calc((208px - 16px) / 6);
  border-bottom-width: calc((208px - 16px) / 6);
}
#south {
  border-top-color: #222;
  border-width: calc((208px - 16px) / 3);
  border-bottom-style: none;
  border-left-width: calc((208px - 16px) / 6);
  border-right-width: calc((208px - 16px) / 6);
}
.arrowContainer {
  width: calc((208px - 16px) / 3);
  height: calc((208px - 16px) / 3);
  float: left;
}
#northwest {
  border-left-style: none;
  border-top-color: #222;
  border-width: calc((208px - 16px) / 6);
  border-bottom-style: none;
  margin: auto;
  margin-top: calc((208px - 16px) / 12);
  float: none;
}
#northeast {
  border-top-color: #222;
  border-right-style: none;
  border-width: calc((208px - 16px) / 6);
  border-bottom-style: none;
  margin: auto;
  margin-top: calc((208px - 16px) / 12);
  float: none;
}
#southwest {
  border-bottom-color: #222;
  border-left-style: none;
  border-width: calc((208px - 16px) / 6);
  border-top-style: none;
  margin: auto;
  margin-top: calc((208px - 16px) / 12);
  float: none;
}
#southeast {
  border-bottom-color: #222;
  border-right-style: none;
  border-width: calc((208px - 16px) / 6);
  border-top-style: none;
  margin: auto;
  margin-top: calc((208px - 16px) / 12);
  float: none;
}
#north.directionAvailable {
  border-bottom-color: #AAA;
}
#south.directionAvailable {
  border-top-color: #AAA;
}
#east.directionAvailable {
  border-left-color: #AAA;
}
#west.directionAvailable {
  border-right-color: #AAA;
}
#southwest.directionAvailable {
  border-bottom-color: #AAA;
}
#southeast.directionAvailable {
  border-bottom-color: #AAA;
}
#northeast.directionAvailable {
  border-top-color: #AAA;
}
#northwest.directionAvailable {
  border-top-color: #AAA;
}
.navButton.directionAvailable {
  background-color: #AAA;
}
#tabs {
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  border-top-style: solid;
  border-width: 1px;
  border-color: #333;
  color: #AAA;
}
.tab {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  border-right-style: solid;
  border-width: 1px;
  line-height: 44px;
  border-color: #333;
}
.navButton, .button {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #222;
  color: #000;
  text-align: center;
  height: 42px;
  margin-bottom: 8px;
  line-height: 42px;
  max-width: calc(208px - 16px);
}
.navButton:hover, .arrowContainer:hover, .tab:hover, .button:hover {
  cursor: pointer;
}
.button {
  background-color: #0099b1;
}
#sidePanel {
  height: calc(100vh - 45px);
  width: 70%;
  background-color: #444;
  position: absolute;
  right: -70%;
  z-index: 2;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow-x: auto;
  transition: right 0.2s ease-out;
}
.collapsible {
  box-sizing: border-box;
  background-color: #000;
  color: #AAA;
  cursor: pointer;
  line-height: 44px;
  width: 100%;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
}
/* .active, .collapsible:hover {
  background-color: #000;
} */
.content {
  line-height: 44px;
  overflow: hidden;
  background-color: #0099b1;
  max-height: 0;
  color: #000;
  transition: max-height 0.2s ease-out;
}
.plus {
  float: right;
}
.inCollapsible {
  padding-left: 8px;
  padding-right: 8px;
}
.inCollapsible:hover {
  /*background-color: #007284;*/
  cursor: pointer;
}
.buttonActive {
  background-color: #007284;
}
#map {
  position: absolute;
  background-color: transparent;
  transition: left 0.2s ease-out, top 0.2s ease-out;
}

/* Change these classes if scaling the map */
.mapRoom {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #000;
  border-width: 4px;
  position: absolute;
  text-align: center;
  color: #000;
}
.verticalLine {
  border-width: 4px;
  box-sizing: border-box;
  width: 34px;
  height: 64px;
  border-right-style: solid;
  border-color: #000;
  background-color: transparent;
  position: absolute;
}
.horizontalLine {
  border-width: 4px;
  box-sizing: border-box;
  width: 64px;
  height: 34px;
  border-bottom-style: solid;
  border-color: #000;
  background-color: transparent;
  position: absolute;
}
.uphillLineContainer {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background-color: transparent;
  position: absolute;
}
.diagonalLine {
  border-width: 4px;
  box-sizing: border-box;
  width: 34px;
  height: 94px;
  border-right-style: solid;
  border-color: #000;
  background-color: transparent;
  transform-origin: 32px 50%;
  position: absolute;
  bottom: calc((-94px + 64px) / 2);
}
.uphillLine {
  transform: rotate(45deg);
}
.downhillLine {
  transform: rotate(-45deg);
}
/* End of Map */

#mask {
  background-color: #000;
  width: 100%;
  height: calc(100% - 45px);
  position: absolute;
  z-index: 3;
  visibility: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  font-size: 1.2em;
}

#shadow {
  position: absolute;
  box-sizing: border-box;
  background-color: transparent;
  height: calc(100% - 208px - 45px - 8px);
  width: calc(100% - 16px);
  border-radius: 16px;
  left: 8px;
  top: 8px;
  box-shadow: 0px 0px 0px 50px #000;
  z-index: 1;
  pointer-events: none;
}

.command {
  color: #af5c03;
  font-weight: bold;
}

.hedda {
  text-decoration: underline;
  color: #af5c03;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

/* Opacity Slider for choosing Map Opacity */
.slideContainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(60%);
  margin: 0 auto;
  height: 10px;
  background: #555;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0099b1;
  cursor: pointer;
  border-style: none;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0099b1;
  cursor: pointer;
  border-style: none;
}
#statusReport {
  text-align: center;
  font-weight: bold;
}
#blob {
  position: absolute;
  width: 44px;
  height: 44px;
  margin-left: 6px;
  margin-top: 6px;
  background-color: #af5c03;
  box-sizing: border-box;
  border-radius: 32px;
}
.label {
  position: absolute;
  text-align: center;
  display: block;
  width: 56px;
  height: 56px;
  z-index: 1;
}
#newPanel {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  width: calc(50% - 4px);
  box-sizing: border-box;
  padding: 8px;
  padding-right: 0;
  background-color: #000;
  height: 100%;
}
